src/main/mule/global/retrievetravelontiproutesandschedules-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="retrievetravelontiproutesandschedules-sapi-main">
        <http:listener config-ref="retrievetravelontiproutesandschedules-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrievetravelontiproutesandschedules-sapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
            
			
        </error-handler>
    </flow>
    <flow name="retrievetravelontiproutesandschedules-sapi-console">
        <http:listener config-ref="retrievetravelontiproutesandschedules-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrievetravelontiproutesandschedules-sapi-config" />
		<error-handler ref="globalErrorHandlerError_Handler" />
    </flow>
    <sub-flow name="retrievetravelontiproutesandschedules-sapi-InitialiseRequestVariable-Sub_Flow" doc:id="05632295-a4da-4f29-9c1e-b6ed8a299ee3" >
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:retrievetravelontiproutesandschedules-sapi-config">
		<flow-ref doc:name="Flow Reference Initialise Request Variable" doc:id="ed60d0aa-655f-4d3f-a9fd-23ca6831b57d" name="retrievetravelontiproutesandschedules-sapi-InitialiseRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="c46782bc-f5f6-4ae0-b0e7-d42219f3035b" message="Request Received for Routes TravelOnTip SAPI for transactionId #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="4df21af3-d566-40b9-9731-f8883e9d0aeb" name="travelOnTip-getRoutes-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="1213355b-ffbf-4e2f-b0e3-23d283b30998" message="Response sent for Routes TravelOnTip SAPI for transactionId #[vars.transactionId]"/>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:retrievetravelontiproutesandschedules-sapi-config">
		<flow-ref doc:name="Flow Reference Initialise Request Variable" doc:id="85244065-ae74-4b94-9cee-3375727c77d8" name="retrievetravelontiproutesandschedules-sapi-InitialiseRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="73c69d27-10bd-4bfb-b779-0965a435a287" message="Request Received for Schedules TravelOnTip SAPI for transactionId #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="09108593-6cd2-491b-95a3-370950b2acdf" name="travelOnTip-getSchedules-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="32119a57-2623-4bff-b876-7819a09f017a" message="Response sent for Schedules TravelOnTip SAPI for transactionId #[vars.transactionId]"/>
    </flow>
</mule>
